*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

:root{
    --main-color: hsl(212, 45%, 89%);
    --principalText-color:hsl(218, 44%, 22%);
    --secondText-color:hsl(220, 15%, 55%);
}


body{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(
        -45deg, 
        rgba(59,173,227,1) 0%, 
        rgba(87,111,230,1) 25%, 
        rgba(152,68,183,1) 51%, 
        rgba(255,53,127,1) 100%
  );  
  animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
#content{
    display: flex;
    flex-direction: column;
    width: 25rem;
    text-align: center;
    background-color: #000000;
    padding: 1rem;
    border-radius: 15px;
}

#QR-content img{
    border-radius: 8px;
    width: 23rem;
}

#title-container{
    padding: 2rem 2rem 0 2rem;
    color: #fff;
    font-weight: 700;
    margin-bottom: 2rem;
}

#description-container{
    padding: 0 2.5rem 0 2.5rem;
    color: #fff;
    margin-bottom: 2rem;
}
