@font-face {
    font-family: __Inter_0ec1f4;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/_next/static/media/d1d9458b69004127-s.woff2) format("woff2");
    unicode-range: U+0460-052f,U+1c80-1c88,U+20b4,U+2de0-2dff,U+a640-a69f,U+fe2e-fe2f
}

@font-face {
    font-family: __Inter_0ec1f4;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/_next/static/media/b967158bc7d7a9fb-s.woff2) format("woff2");
    unicode-range: U+0301,U+0400-045f,U+0490-0491,U+04b0-04b1,U+2116
}

@font-face {
    font-family: __Inter_0ec1f4;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/_next/static/media/ae9ae6716d4f8bf8-s.woff2) format("woff2");
    unicode-range: U+1f??
}

@font-face {
    font-family: __Inter_0ec1f4;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/_next/static/media/c0f5ec5bbf5913b7-s.woff2) format("woff2");
    unicode-range: U+0370-03ff
}

@font-face {
    font-family: __Inter_0ec1f4;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/_next/static/media/b1db3e28af9ef94a-s.woff2) format("woff2");
    unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01a0-01a1,U+01af-01b0,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+1ea0-1ef9,U+20ab
}

@font-face {
    font-family: __Inter_0ec1f4;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/_next/static/media/9c4f34569c9b36ca-s.woff2) format("woff2");
    unicode-range: U+0100-02af,U+0304,U+0308,U+0329,U+1e00-1e9f,U+1ef2-1eff,U+2020,U+20a0-20ab,U+20ad-20cf,U+2113,U+2c60-2c7f,U+a720-a7ff
}

@font-face {
    font-family: __Inter_0ec1f4;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/_next/static/media/2aaf0723e720e8b9-s.p.woff2) format("woff2");
    unicode-range: U+00??,U+0131,U+0152-0153,U+02bb-02bc,U+02c6,U+02da,U+02dc,U+0304,U+0308,U+0329,U+2000-206f,U+2074,U+20ac,U+2122,U+2191,U+2193,U+2212,U+2215,U+feff,U+fffd
}

@font-face {
    font-family: __Inter_Fallback_0ec1f4;
    src: local("Arial");
    ascent-override:90.20%;descent-override:22.48%;line-gap-override:0.00%;size-adjust:107.40%}

.__className_0ec1f4 {
    font-family: __Inter_0ec1f4,__Inter_Fallback_0ec1f4;
    font-style: normal
}

.__variable_0ec1f4 {
    --font-inter: "__Inter_0ec1f4","__Inter_Fallback_0ec1f4"
}

@font-face {
    font-family: __gilroy_c4fd15;
    src: url(/_next/static/media/cd7c42fb50c65bda-s.p.ttf) format("truetype");
    font-display: swap;
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: __gilroy_c4fd15;
    src: url(/_next/static/media/422812db65c06252-s.p.ttf) format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: __gilroy_c4fd15;
    src: url(/_next/static/media/e3763f52cdaac7ca-s.p.ttf) format("truetype");
    font-display: swap;
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: __gilroy_c4fd15;
    src: url(/_next/static/media/f6494bf97d45b69d-s.p.ttf) format("truetype");
    font-display: swap;
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: __gilroy_c4fd15;
    src: url(/_next/static/media/b4084091f47d4e01-s.p.ttf) format("truetype");
    font-display: swap;
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: __gilroy_c4fd15;
    src: url(/_next/static/media/5b6c6d884817ca4e-s.p.ttf) format("truetype");
    font-display: swap;
    font-weight: 800;
    font-style: normal
}

@font-face {
    font-family: __gilroy_Fallback_c4fd15;
    src: local("Arial");
    ascent-override:88.12%;descent-override:22.99%;line-gap-override:0.00%;size-adjust:104.41%}

.__className_c4fd15 {
    font-family: __gilroy_c4fd15,__gilroy_Fallback_c4fd15
}

.__variable_c4fd15 {
    --font-gilroy: "__gilroy_c4fd15","__gilroy_Fallback_c4fd15"
}

*,:after,:before {
    border-color: rgb(var(--color-border));
    border-style: solid;
    border-width: 0
}

body {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: rgb(var(--color-body)/var(--tw-bg-opacity));
    color: rgb(var(--color-text)/var(--tw-text-opacity));
    font-family: var(--font-inter),ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .875rem;
    line-height: 1.3125rem
}

hr {
    border-top-width: 1px
}

dl {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 0
}

dt {
    font-weight: 500;
    letter-spacing: .008em;
    line-height: .85rem
}

dd,dt {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: .75rem
}

dd {
    font-weight: 400;
    letter-spacing: .0125em;
    line-height: 1.07rem;
    margin: 0
}

table {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    border-collapse: separate;
    border-spacing: var(--tw-border-spacing-x) var(--tw-border-spacing-y)
}

table tr {
    height: 48px
}

table td,table th {
    border-bottom-width: 1px
}

table tr:last-of-type td {
    border-bottom-width: 0
}

table th {
    font-weight: 500;
    letter-spacing: .012em;
    line-height: 1.5rem;
    padding-left: 8px;
    padding-right: 8px;
    text-align: left
}

table td {
    font-size: .75rem;
    font-weight: 400;
    letter-spacing: .0125em;
    line-height: 1.07rem;
    padding: 0 8px
}

body {
    --color-green: 94 177 137;
    --color-blue: 90 187 216;
    --color-orange: 207 154 93;
    --color-red: 231 105 105;
    --color-gray: 224 224 224;
    --color-body: 255 255 255;
    --color-muted: 245 245 245;
    --color-inverted: 18 18 18;
    --color-action: 138 138 138;
    --color-dark: 18 18 18;
    --color-text: 18 18 18;
    --color-text-dark: 18 18 18;
    --color-text-muted: 87 89 88;
    --color-text-inverted: 239 239 239;
    --color-text-white: 255 255 255;
    --color-text-light-orange: 83 62 37;
    --color-text-light-red: 92 42 42;
    --color-border: 224 224 224;
    --color-border-strong: 194 194 194;
    --shadow-highlight: 0px 0px 4px 2px rgb(var(--color-green))
}

body.dark {
    --color-green: 135 252 196;
    --color-blue: 154 244 253;
    --color-orange: 255 190 115;
    --color-red: 255 114 114;
    --color-gray: 224 224 224;
    --color-body: 18 18 18;
    --color-muted: 33 33 33;
    --color-inverted: 239 239 239;
    --color-text: 239 239 239;
    --color-text-muted: 184 184 184;
    --color-text-inverted: 18 18 18;
    --color-text-dark: 18 18 18;
    --color-text-light-orange: 255 229 199;
    --color-text-light-red: 255 199 199;
    --color-border: 50 50 50;
    --color-border-strong: 97 97 97
}

h1 {
    font-size: 1.875rem;
    letter-spacing: -.05em;
    line-height: 2.25rem
}

h1,h2 {
    font-weight: 600
}

h2 {
    font-size: 1.5rem;
    letter-spacing: -.02em;
    line-height: 1.8rem
}

h3 {
    font-size: 1.25rem;
    letter-spacing: 0;
    line-height: 1.45rem
}

h3,h4 {
    font-weight: 600
}

h4 {
    font-size: 1.125rem;
    letter-spacing: .015em;
    line-height: 1.4rem
}

[role=link],a {
    --tw-text-opacity: 1;
    color: rgb(var(--color-green)/var(--tw-text-opacity));
    text-decoration-line: none
}

[role=link]:hover,a:hover {
    text-decoration-line: underline
}

h1,h2,h3,hr,p,ul {
    margin: 0
}

ul {
    list-style: none;
    padding: 0
}

button {
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit
}

button:disabled {
    pointer-events: none
}

input {
    font-family: inherit
}

img,svg {
    display: block;
    vertical-align: middle
}

body {
    --tw-bg-opacity: 1!important;
    --tw-text-opacity: 1!important;
    background-color: rgb(var(--color-body)/var(--tw-bg-opacity))!important;
    color: rgb(var(--color-text)/var(--tw-text-opacity))!important;
    font-size: .875rem!important;
    font-weight: 400;
    letter-spacing: .01em;
    line-height: 1.3125rem!important;
    overflow-x: hidden
}

*,:after,:before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

.container {
    width: 100%
}

@media (min-width: 460px) {
    .container {
        max-width:460px
    }
}

@media (min-width: 640px) {
    .container {
        max-width:640px
    }
}

@media (min-width: 920px) {
    .container {
        max-width:920px
    }
}

@media (min-width: 1280px) {
    .container {
        max-width:1280px
    }
}

.typo-heading1 {
    font-size: 1.875rem;
    font-weight: 600;
    letter-spacing: -.05em;
    line-height: 2.25rem
}

.typo-heading2 {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -.02em;
    line-height: 1.8rem
}

.typo-heading3 {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.45rem
}

.typo-heading4 {
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: .015em;
    line-height: 1.4rem
}

.typo-large {
    font-size: 1rem;
    line-height: 1.6rem
}

.typo-large,.typo-subtitle1 {
    font-weight: 500;
    letter-spacing: .01em
}

.typo-subtitle1 {
    font-size: .875rem;
    line-height: 1.5rem
}

.typo-subtitle2 {
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: .008em;
    line-height: .85rem
}

.typo-body1 {
    font-size: .875rem;
    letter-spacing: .01em;
    line-height: 1.3125rem
}

.typo-body1,.typo-body2 {
    font-weight: 400
}

.typo-body2 {
    font-size: .75rem;
    letter-spacing: .0125em;
    line-height: 1.07rem
}

.typo-caption {
    font-size: .6875rem;
    font-weight: 400;
    letter-spacing: .035em;
    line-height: 1.14rem
}

.link {
    --tw-text-opacity: 1;
    color: rgb(var(--color-green)/var(--tw-text-opacity));
    text-decoration-line: none
}

.link:hover {
    text-decoration-line: underline
}

.link-unstyled {
    color: inherit
}

.icon {
    --tw-text-opacity: 1;
    color: rgb(var(--color-action)/var(--tw-text-opacity));
    height: 20px;
    width: 20px
}

.visible {
    visibility: visible
}

.invisible {
    visibility: hidden
}

.collapse {
    visibility: collapse
}

.static {
    position: static
}

.fixed {
    position: fixed
}

.\!absolute {
    position: absolute!important
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.sticky {
    position: sticky
}

.inset-0 {
    inset: 0
}

.inset-x-0 {
    left: 0;
    right: 0
}

.inset-y-0 {
    bottom: 0;
    top: 0
}

.-bottom-1 {
    bottom: -4px
}

.-left-1 {
    left: -4px
}

.-right-1 {
    right: -4px
}

.-top-1 {
    top: -4px
}

.bottom-0 {
    bottom: 0
}

.bottom-5 {
    bottom: 24px
}

.right-0 {
    right: 0
}

.right-2 {
    right: 8px
}

.top-0 {
    top: 0
}

.top-1 {
    top: 4px
}

.top-2 {
    top: 8px
}

.-z-10 {
    z-index: -10
}

.z-0 {
    z-index: 0
}

.z-10 {
    z-index: 10
}

.col-span-1 {
    grid-column: span 1/span 1
}

.col-span-2 {
    grid-column: span 2/span 2
}

.col-span-3 {
    grid-column: span 3/span 3
}

.col-span-4 {
    grid-column: span 4/span 4
}

.m-0 {
    margin: 0
}

.m-6 {
    margin: 32px
}

.m-auto {
    margin: auto
}

.mx-1 {
    margin-left: 4px;
    margin-right: 4px
}

.mx-2 {
    margin-left: 8px;
    margin-right: 8px
}

.mx-3 {
    margin-left: 12px;
    margin-right: 12px
}

.mx-6 {
    margin-left: 32px;
    margin-right: 32px
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.my-1 {
    margin-bottom: 4px;
    margin-top: 4px
}

.my-2 {
    margin-bottom: 8px;
    margin-top: 8px
}

.my-4 {
    margin-bottom: 16px;
    margin-top: 16px
}

.-mt-1 {
    margin-top: -4px
}

.mb-1 {
    margin-bottom: 4px
}

.mb-2 {
    margin-bottom: 8px
}

.mb-4 {
    margin-bottom: 16px
}

.ml-1 {
    margin-left: 4px
}

.ml-2 {
    margin-left: 8px
}

.ml-4 {
    margin-left: 16px
}

.ml-\[-10px\] {
    margin-left: -10px
}

.ml-auto {
    margin-left: auto
}

.mr-0 {
    margin-right: 0
}

.mr-1 {
    margin-right: 4px
}

.mr-2 {
    margin-right: 8px
}

.mr-4 {
    margin-right: 16px
}

.mr-6 {
    margin-right: 32px
}

.mr-auto {
    margin-right: auto
}

.mt-1 {
    margin-top: 4px
}

.mt-2 {
    margin-top: 8px
}

.mt-3 {
    margin-top: 12px
}

.mt-4 {
    margin-top: 16px
}

.mt-5 {
    margin-top: 24px
}

.mt-\[2px\] {
    margin-top: 2px
}

.box-content {
    box-sizing: content-box
}

.line-clamp-1 {
    -webkit-line-clamp: 1
}

.line-clamp-1,.line-clamp-2 {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden
}

.line-clamp-2 {
    -webkit-line-clamp: 2
}

.\!block {
    display: block!important
}

.block {
    display: block
}

.\!inline-block {
    display: inline-block!important
}

.inline-block {
    display: inline-block
}

.inline {
    display: inline
}

.\!flex {
    display: flex!important
}

.flex {
    display: flex
}

.inline-flex {
    display: inline-flex
}

.table {
    display: table
}

.grid {
    display: grid
}

.inline-grid {
    display: inline-grid
}

.hidden {
    display: none
}

.aspect-square {
    aspect-ratio: 1/1
}

.h-0 {
    height: 0
}

.h-1 {
    height: 4px
}

.h-2 {
    height: 8px
}

.h-3 {
    height: 12px
}

.h-4 {
    height: 16px
}

.h-5 {
    height: 24px
}

.h-6 {
    height: 32px
}

.h-7 {
    height: 48px
}

.h-8 {
    height: 64px
}

.h-\[0\.7em\] {
    height: .7em
}

.h-\[120px\] {
    height: 120px
}

.h-\[16rem\] {
    height: 16rem
}

.h-\[180px\] {
    height: 180px
}

.h-\[18px\] {
    height: 18px
}

.h-\[18rem\] {
    height: 18rem
}

.h-\[32rem\] {
    height: 32rem
}

.h-\[3px\] {
    height: 3px
}

.h-\[40px\] {
    height: 40px
}

.h-\[4rem\] {
    height: 4rem
}

.h-\[600px\] {
    height: 600px
}

.h-\[60px\] {
    height: 60px
}

.h-em {
    height: 1em
}

.h-full {
    height: 100%
}

.h-icon {
    height: 20px
}

.h-screen {
    height: 100vh
}

.max-h-5 {
    max-height: 24px
}

.max-h-6 {
    max-height: 32px
}

.max-h-\[10rem\] {
    max-height: 10rem
}

.max-h-\[24rem\] {
    max-height: 24rem
}

.max-h-\[32rem\] {
    max-height: 32rem
}

.min-h-\[16rem\] {
    min-height: 16rem
}

.min-h-\[8rem\] {
    min-height: 8rem
}

.\!w-auto {
    width: auto!important
}

.\!w-em {
    width: 1em!important
}

.w-0 {
    width: 0
}

.w-0\.5 {
    width: 2px
}

.w-1 {
    width: 4px
}

.w-2 {
    width: 8px
}

.w-2\/3 {
    width: 66.666667%
}

.w-3 {
    width: 12px
}

.w-4 {
    width: 16px
}

.w-5 {
    width: 24px
}

.w-6 {
    width: 32px
}

.w-7 {
    width: 48px
}

.w-8 {
    width: 64px
}

.w-\[0\.6em\] {
    width: .6em
}

.w-\[0\.7em\] {
    width: .7em
}

.w-\[10rem\] {
    width: 10rem
}

.w-\[120px\] {
    width: 120px
}

.w-\[12rem\] {
    width: 12rem
}

.w-\[140px\] {
    width: 140px
}

.w-\[16rem\] {
    width: 16rem
}

.w-\[18px\] {
    width: 18px
}

.w-\[18rem\] {
    width: 18rem
}

.w-\[40px\] {
    width: 40px
}

.w-\[4rem\] {
    width: 4rem
}

.w-\[7rem\] {
    width: 7rem
}

.w-em {
    width: 1em
}

.w-fit {
    width: -moz-fit-content;
    width: fit-content
}

.w-full {
    width: 100%
}

.w-icon {
    width: 20px
}

.min-w-0 {
    min-width: 0
}

.min-w-1 {
    min-width: 6rem
}

.min-w-10 {
    min-width: 54rem
}

.min-w-2 {
    min-width: 8rem
}

.min-w-3 {
    min-width: 12rem
}

.min-w-4 {
    min-width: 16rem
}

.min-w-5 {
    min-width: 20rem
}

.min-w-6 {
    min-width: 24rem
}

.min-w-7 {
    min-width: 30rem
}

.min-w-8 {
    min-width: 36rem
}

.min-w-9 {
    min-width: 44rem
}

.min-w-\[12rem\] {
    min-width: 12rem
}

.min-w-\[16rem\] {
    min-width: 16rem
}

.min-w-\[3\.75rem\] {
    min-width: 3.75rem
}

.min-w-\[5rem\] {
    min-width: 5rem
}

.min-w-\[6rem\] {
    min-width: 6rem
}

.min-w-\[7rem\] {
    min-width: 7rem
}

.min-w-\[9rem\] {
    min-width: 9rem
}

.min-w-fit {
    min-width: -moz-fit-content;
    min-width: fit-content
}

.min-w-full {
    min-width: 100%
}

.\!max-w-7 {
    max-width: 30rem!important
}

.\!max-w-none {
    max-width: none!important
}

.max-w-1 {
    max-width: 6rem
}

.max-w-10 {
    max-width: 54rem
}

.max-w-2 {
    max-width: 8rem
}

.max-w-4 {
    max-width: 16rem
}

.max-w-5 {
    max-width: 20rem
}

.max-w-6 {
    max-width: 24rem
}

.max-w-7 {
    max-width: 30rem
}

.max-w-8 {
    max-width: 36rem
}

.max-w-9 {
    max-width: 44rem
}

.max-w-\[0\.625rem\] {
    max-width: .625rem
}

.max-w-\[16rem\] {
    max-width: 16rem
}

.max-w-\[32rem\] {
    max-width: 32rem
}

.max-w-\[420px\] {
    max-width: 420px
}

.max-w-\[61rem\] {
    max-width: 61rem
}

.max-w-\[72rem\] {
    max-width: 72rem
}

.max-w-\[992px\] {
    max-width: 992px
}

.max-w-fit {
    max-width: -moz-fit-content;
    max-width: fit-content
}

.max-w-full {
    max-width: 100%
}

.max-w-none {
    max-width: none
}

.flex-1 {
    flex: 1 1 0%
}

.shrink {
    flex-shrink: 1
}

.grow {
    flex-grow: 1
}

.table-fixed {
    table-layout: fixed
}

.translate-x-6 {
    --tw-translate-x: 32px
}

.translate-x-6,.translate-y-\[6rem\] {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-y-\[6rem\] {
    --tw-translate-y: 6rem
}

.-rotate-90 {
    --tw-rotate: -90deg
}

.-rotate-90,.rotate-90 {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rotate-90 {
    --tw-rotate: 90deg
}

.-scale-100 {
    --tw-scale-x: -1
}

.-scale-100,.-scale-y-100 {
    --tw-scale-y: -1
}

.-scale-100,.-scale-y-100,.transform {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.\!animate-none {
    animation: none!important
}

@keyframes pulse {
    0% {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.animate-pulse {
    animation: pulse .75s ease-in-out infinite alternate
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(1turn)
    }
}

.animate-spin {
    animation: spin .75s linear infinite
}

.cursor-default {
    cursor: default
}

.cursor-pointer {
    cursor: pointer
}

.select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.resize-y {
    resize: vertical
}

.resize {
    resize: both
}

.snap-x {
    scroll-snap-type: x var(--tw-scroll-snap-strictness)
}

.snap-start {
    scroll-snap-align: start
}

.grid-cols-1 {
    grid-template-columns: repeat(1,minmax(0,1fr))
}

.grid-cols-2 {
    grid-template-columns: repeat(2,minmax(0,1fr))
}

.grid-cols-3 {
    grid-template-columns: repeat(3,minmax(0,1fr))
}

.grid-cols-6 {
    grid-template-columns: repeat(6,minmax(0,1fr))
}

.flex-row {
    flex-direction: row
}

.\!flex-col {
    flex-direction: column!important
}

.flex-col {
    flex-direction: column
}

.flex-wrap {
    flex-wrap: wrap
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse
}

.flex-nowrap {
    flex-wrap: nowrap
}

.place-items-center {
    place-items: center
}

.items-start {
    align-items: flex-start
}

.items-center {
    align-items: center
}

.items-stretch {
    align-items: stretch
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.gap-1 {
    gap: 4px
}

.gap-2 {
    gap: 8px
}

.gap-3 {
    gap: 12px
}

.gap-4 {
    gap: 16px
}

.gap-6 {
    gap: 32px
}

.gap-8 {
    gap: 64px
}

.gap-\[120px\] {
    gap: 120px
}

.gap-x-6 {
    -moz-column-gap: 32px;
    column-gap: 32px
}

.divide-x>:not([hidden])~:not([hidden]) {
    --tw-divide-x-reverse: 0;
    border-left-width: calc(1px*(1 - var(--tw-divide-x-reverse)));
    border-right-width: calc(1px*var(--tw-divide-x-reverse))
}

.divide-y>:not([hidden])~:not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-bottom-width: calc(1px*var(--tw-divide-y-reverse));
    border-top-width: calc(1px*(1 - var(--tw-divide-y-reverse)))
}

.self-start {
    align-self: flex-start
}

.self-end {
    align-self: flex-end
}

.self-center {
    align-self: center
}

.self-stretch {
    align-self: stretch
}

.overflow-auto {
    overflow: auto
}

.overflow-hidden {
    overflow: hidden
}

.overflow-visible {
    overflow: visible
}

.overflow-x-auto {
    overflow-x: auto
}

.overflow-y-auto {
    overflow-y: auto
}

.overflow-y-hidden {
    overflow-y: hidden
}

.whitespace-nowrap {
    white-space: nowrap
}

.whitespace-pre-wrap {
    white-space: pre-wrap
}

.break-all {
    word-break: break-all
}

.rounded {
    border-radius: .25rem
}

.rounded-\[0\.625rem\] {
    border-radius: .625rem
}

.rounded-full {
    border-radius: 999px
}

.rounded-lg {
    border-radius: .75rem
}

.rounded-none {
    border-radius: 0
}

.rounded-l-none {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}

.border {
    border-width: 1px
}

.border-b {
    border-bottom-width: 1px
}

.border-b-0 {
    border-bottom-width: 0
}

.border-b-2 {
    border-bottom-width: 2px
}

.border-l {
    border-left-width: 1px
}

.border-t {
    border-top-width: 1px
}

.border-t-2 {
    border-top-width: 2px
}

.border-dashed {
    border-style: dashed
}

.border-dotted {
    border-style: dotted
}

.\!border-green {
    border-color: rgb(var(--color-green)/var(--tw-border-opacity))!important
}

.\!border-green,.\!border-red {
    --tw-border-opacity: 1!important
}

.\!border-red {
    border-color: rgb(var(--color-red)/var(--tw-border-opacity))!important
}

.border-blue {
    --tw-border-opacity: 1;
    border-color: rgb(var(--color-blue)/var(--tw-border-opacity))
}

.border-blue\/50 {
    border-color: rgb(var(--color-blue)/.5)
}

.border-dark {
    border-color: rgb(var(--color-dark)/var(--tw-border-opacity))
}

.border-dark,.border-gray {
    --tw-border-opacity: 1
}

.border-gray {
    border-color: rgb(var(--color-gray)/var(--tw-border-opacity))
}

.border-green {
    --tw-border-opacity: 1;
    border-color: rgb(var(--color-green)/var(--tw-border-opacity))
}

.border-green\/10 {
    border-color: rgb(var(--color-green)/.1)
}

.border-green\/20 {
    border-color: rgb(var(--color-green)/.2)
}

.border-green\/25 {
    border-color: rgb(var(--color-green)/.25)
}

.border-green\/50 {
    border-color: rgb(var(--color-green)/.5)
}

.border-inverted {
    --tw-border-opacity: 1;
    border-color: rgb(var(--color-inverted)/var(--tw-border-opacity))
}

.border-inverted\/20 {
    border-color: rgb(var(--color-inverted)/.2)
}

.border-inverted\/40 {
    border-color: rgb(var(--color-inverted)/.4)
}

.border-orange {
    --tw-border-opacity: 1;
    border-color: rgb(var(--color-orange)/var(--tw-border-opacity))
}

.border-orange\/50 {
    border-color: rgb(var(--color-orange)/.5)
}

.border-red {
    --tw-border-opacity: 1;
    border-color: rgb(var(--color-red)/var(--tw-border-opacity))
}

.border-red\/50 {
    border-color: rgb(var(--color-red)/.5)
}

.border-strong {
    --tw-border-opacity: 1;
    border-color: rgb(var(--color-border-strong)/var(--tw-border-opacity))
}

.border-transparent {
    border-color: transparent
}

.border-b-transparent {
    border-bottom-color: transparent
}

.border-t-transparent {
    border-top-color: transparent
}

.\!bg-blue {
    background-color: rgb(var(--color-blue)/var(--tw-bg-opacity))!important
}

.\!bg-blue,.\!bg-green {
    --tw-bg-opacity: 1!important
}

.\!bg-green {
    background-color: rgb(var(--color-green)/var(--tw-bg-opacity))!important
}

.\!bg-orange {
    background-color: rgb(var(--color-orange)/var(--tw-bg-opacity))!important
}

.\!bg-orange,.\!bg-red {
    --tw-bg-opacity: 1!important
}

.\!bg-red {
    background-color: rgb(var(--color-red)/var(--tw-bg-opacity))!important
}

.\!bg-red\/5 {
    background-color: rgb(var(--color-red)/.05)!important
}

.bg-\[\#242424\] {
    --tw-bg-opacity: 1;
    background-color: rgb(36 36 36/var(--tw-bg-opacity))
}

.bg-\[\#FFF\] {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.bg-action {
    background-color: rgb(var(--color-action)/var(--tw-bg-opacity))
}

.bg-action,.bg-blue {
    --tw-bg-opacity: 1
}

.bg-blue {
    background-color: rgb(var(--color-blue)/var(--tw-bg-opacity))
}

.bg-blue\/5 {
    background-color: rgb(var(--color-blue)/.05)
}

.bg-blue\/80 {
    background-color: rgb(var(--color-blue)/.8)
}

.bg-body {
    background-color: rgb(var(--color-body)/var(--tw-bg-opacity))
}

.bg-body,.bg-dark {
    --tw-bg-opacity: 1
}

.bg-dark {
    background-color: rgb(var(--color-dark)/var(--tw-bg-opacity))
}

.bg-dark\/70 {
    background-color: rgb(var(--color-dark)/.7)
}

.bg-gray {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-gray)/var(--tw-bg-opacity))
}

.bg-gray\/50 {
    background-color: rgb(var(--color-gray)/.5)
}

.bg-gray\/80 {
    background-color: rgb(var(--color-gray)/.8)
}

.bg-green {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-green)/var(--tw-bg-opacity))
}

.bg-green\/10 {
    background-color: rgb(var(--color-green)/.1)
}

.bg-green\/20 {
    background-color: rgb(var(--color-green)/.2)
}

.bg-green\/5 {
    background-color: rgb(var(--color-green)/.05)
}

.bg-green\/80 {
    background-color: rgb(var(--color-green)/.8)
}

.bg-inverted {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-inverted)/var(--tw-bg-opacity))
}

.bg-inverted\/20 {
    background-color: rgb(var(--color-inverted)/.2)
}

.bg-inverted\/5 {
    background-color: rgb(var(--color-inverted)/.05)
}

.bg-muted {
    background-color: rgb(var(--color-muted)/var(--tw-bg-opacity))
}

.bg-muted,.bg-orange {
    --tw-bg-opacity: 1
}

.bg-orange {
    background-color: rgb(var(--color-orange)/var(--tw-bg-opacity))
}

.bg-orange\/5 {
    background-color: rgb(var(--color-orange)/.05)
}

.bg-orange\/80 {
    background-color: rgb(var(--color-orange)/.8)
}

.bg-red {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-red)/var(--tw-bg-opacity))
}

.bg-red\/5 {
    background-color: rgb(var(--color-red)/.05)
}

.bg-red\/80 {
    background-color: rgb(var(--color-red)/.8)
}

.bg-transparent {
    background-color: transparent
}

.bg-grid-dark {
    background-image: url(/static/images/backgrounds/grid-dark.svg)
}

.bg-grid-light {
    background-image: url(/static/images/backgrounds/grid-light.svg)
}

.bg-cover {
    background-size: cover
}

.bg-center {
    background-position: 50%
}

.bg-no-repeat {
    background-repeat: no-repeat
}

.fill-body {
    fill: rgb(var(--color-body))
}

.fill-inverted {
    fill: rgb(var(--color-inverted))
}

.\!p-0 {
    padding: 0!important
}

.\!p-4 {
    padding: 16px!important
}

.p-0 {
    padding: 0
}

.p-1 {
    padding: 4px
}

.p-2 {
    padding: 8px
}

.p-3 {
    padding: 12px
}

.p-4 {
    padding: 16px
}

.p-6 {
    padding: 32px
}

.\!px-2 {
    padding-left: 8px!important;
    padding-right: 8px!important
}

.\!px-5 {
    padding-left: 24px!important;
    padding-right: 24px!important
}

.\!py-4 {
    padding-bottom: 16px!important;
    padding-top: 16px!important
}

.px-0 {
    padding-left: 0;
    padding-right: 0
}

.px-1 {
    padding-left: 4px;
    padding-right: 4px
}

.px-2 {
    padding-left: 8px;
    padding-right: 8px
}

.px-3 {
    padding-left: 12px;
    padding-right: 12px
}

.px-4 {
    padding-left: 16px;
    padding-right: 16px
}

.px-6 {
    padding-left: 32px;
    padding-right: 32px
}

.px-\[0\.5625rem\] {
    padding-left: .5625rem;
    padding-right: .5625rem
}

.px-\[0\.625rem\] {
    padding-left: .625rem;
    padding-right: .625rem
}

.px-\[0\.9375rem\] {
    padding-left: .9375rem;
    padding-right: .9375rem
}

.px-\[1rem\] {
    padding-left: 1rem;
    padding-right: 1rem
}

.py-0 {
    padding-bottom: 0;
    padding-top: 0
}

.py-0\.5 {
    padding-bottom: 2px;
    padding-top: 2px
}

.py-1 {
    padding-bottom: 4px;
    padding-top: 4px
}

.py-2 {
    padding-bottom: 8px;
    padding-top: 8px
}

.py-3 {
    padding-bottom: 12px;
    padding-top: 12px
}

.py-4 {
    padding-bottom: 16px;
    padding-top: 16px
}

.py-5 {
    padding-bottom: 24px;
    padding-top: 24px
}

.py-6 {
    padding-bottom: 32px;
    padding-top: 32px
}

.py-\[0\.1875rem\] {
    padding-bottom: .1875rem;
    padding-top: .1875rem
}

.py-\[0\.25rem\] {
    padding-bottom: .25rem;
    padding-top: .25rem
}

.py-\[0\.3125rem\] {
    padding-bottom: .3125rem;
    padding-top: .3125rem
}

.py-\[0\.375rem\] {
    padding-bottom: .375rem;
    padding-top: .375rem
}

.py-\[1\.25rem\] {
    padding-bottom: 1.25rem;
    padding-top: 1.25rem
}

.\!pr-6 {
    padding-right: 32px!important
}

.\!pr-\[6px\] {
    padding-right: 6px!important
}

.pb-0 {
    padding-bottom: 0
}

.pb-2 {
    padding-bottom: 8px
}

.pb-4 {
    padding-bottom: 16px
}

.pb-6 {
    padding-bottom: 32px
}

.pl-2 {
    padding-left: 8px
}

.pl-3 {
    padding-left: 12px
}

.pl-4 {
    padding-left: 16px
}

.pl-5 {
    padding-left: 24px
}

.pr-1 {
    padding-right: 4px
}

.pr-2 {
    padding-right: 8px
}

.pr-4 {
    padding-right: 16px
}

.pt-1 {
    padding-top: 4px
}

.pt-2 {
    padding-top: 8px
}

.pt-4 {
    padding-top: 16px
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.text-start {
    text-align: start
}

.align-middle {
    vertical-align: middle
}

.font-gilroy {
    font-family: var(--font-gilroy),ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

.font-inter {
    font-family: var(--font-inter),ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

.font-monospace {
    font-family: monospace
}

.\!text-base {
    font-size: 1rem!important;
    line-height: 1.5rem!important
}

.\!text-inherit {
    font-size: inherit!important
}

.text-\[0\.6875rem\] {
    font-size: .6875rem
}

.text-\[0\.75rem\] {
    font-size: .75rem
}

.text-\[32px\] {
    font-size: 32px
}

.text-\[48px\] {
    font-size: 48px
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem
}

.text-inherit {
    font-size: inherit
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}

.text-sm {
    font-size: .875rem;
    line-height: 1.3125rem
}

.text-xs {
    font-size: .75rem;
    line-height: 1.07rem
}

.\!font-medium {
    font-weight: 500!important
}

.font-bold {
    font-weight: 700
}

.font-medium {
    font-weight: 500
}

.font-semibold {
    font-weight: 600
}

.uppercase {
    text-transform: uppercase
}

.lowercase {
    text-transform: lowercase
}

.capitalize {
    text-transform: capitalize
}

.leading-1 {
    line-height: 1
}

.leading-\[1\.2\] {
    line-height: 1.2
}

.leading-\[1\.5\] {
    line-height: 1.5
}

.leading-\[1\.7\] {
    line-height: 1.7
}

.leading-\[26px\] {
    line-height: 26px
}

.leading-\[2\] {
    line-height: 2
}

.tracking-\[0\.01em\] {
    letter-spacing: .01em
}

.tracking-\[0\.033em\] {
    letter-spacing: .033em
}

.tracking-\[0\.04em\] {
    letter-spacing: .04em
}

.\!text {
    color: rgb(var(--color-text)/var(--tw-text-opacity))!important
}

.\!text,.\!text-green {
    --tw-text-opacity: 1!important
}

.\!text-green {
    color: rgb(var(--color-green)/var(--tw-text-opacity))!important
}

.\!text-inherit {
    color: inherit!important
}

.\!text-muted {
    --tw-text-opacity: 1!important;
    color: rgb(var(--color-text-muted)/var(--tw-text-opacity))!important
}

.text {
    --tw-text-opacity: 1;
    color: rgb(var(--color-text)/var(--tw-text-opacity))
}

.text-DEFAULT\/20 {
    color: rgb(var(--color-text)/.2)
}

.text-\[\#092E20\] {
    --tw-text-opacity: 1;
    color: rgb(9 46 32/var(--tw-text-opacity))
}

.text-\[rgb\(87\2c _89\2c _88\)\] {
    --tw-text-opacity: 1;
    color: rgb(87 89 88/var(--tw-text-opacity))
}

.text-action {
    color: rgb(var(--color-action)/var(--tw-text-opacity))
}

.text-action,.text-blue {
    --tw-text-opacity: 1
}

.text-blue {
    color: rgb(var(--color-blue)/var(--tw-text-opacity))
}

.text-dark {
    color: rgb(var(--color-text-dark)/var(--tw-text-opacity))
}

.text-dark,.text-gray {
    --tw-text-opacity: 1
}

.text-gray {
    color: rgb(var(--color-gray)/var(--tw-text-opacity))
}

.text-green {
    --tw-text-opacity: 1;
    color: rgb(var(--color-green)/var(--tw-text-opacity))
}

.text-inherit {
    color: inherit
}

.text-inverted {
    --tw-text-opacity: 1;
    color: rgb(var(--color-text-inverted)/var(--tw-text-opacity))
}

.text-light-orange {
    --tw-text-opacity: 1;
    color: rgb(var(--color-text-light-orange)/var(--tw-text-opacity))
}

.text-light-red {
    --tw-text-opacity: 1;
    color: rgb(var(--color-text-light-red)/var(--tw-text-opacity))
}

.text-muted {
    --tw-text-opacity: 1;
    color: rgb(var(--color-text-muted)/var(--tw-text-opacity))
}

.text-muted\/80 {
    color: rgb(var(--color-text-muted)/.8)
}

.text-orange {
    color: rgb(var(--color-orange)/var(--tw-text-opacity))
}

.text-orange,.text-red {
    --tw-text-opacity: 1
}

.text-red {
    color: rgb(var(--color-red)/var(--tw-text-opacity))
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(var(--color-text-white)/var(--tw-text-opacity))
}

.underline {
    text-decoration-line: underline
}

.opacity-0 {
    opacity: 0
}

.opacity-10 {
    opacity: .1
}

.opacity-100 {
    opacity: 1
}

.opacity-20 {
    opacity: .2
}

.opacity-25 {
    opacity: .25
}

.opacity-30 {
    opacity: .3
}

.opacity-40 {
    opacity: .4
}

.opacity-5 {
    opacity: .05
}

.opacity-50 {
    opacity: .5
}

.opacity-60 {
    opacity: .6
}

.opacity-70 {
    opacity: .7
}

.opacity-75 {
    opacity: .75
}

.opacity-80 {
    opacity: .8
}

.opacity-90 {
    opacity: .9
}

.opacity-95 {
    opacity: .95
}

.\!shadow-highlight {
    --tw-shadow: var(--shadow-highlight)!important;
    --tw-shadow-colored: var(--shadow-highlight)!important;
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important
}

.shadow {
    --tw-shadow: rgba(0,0,0,.2) 0px 2px 4px -1px,rgba(0,0,0,.14) 0px 4px 5px 0px,rgba(0,0,0,.12) 0px 1px 10px 0px;
    --tw-shadow-colored: 0px 2px 4px -1px var(--tw-shadow-color),0px 4px 5px 0px var(--tw-shadow-color),0px 1px 10px 0px var(--tw-shadow-color)
}

.shadow,.shadow-badge {
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
}

.shadow-badge {
    --tw-shadow: 2px 0px 2px rgba(0,0,0,.45);
    --tw-shadow-colored: 2px 0px 2px var(--tw-shadow-color)
}

.shadow-highlight {
    --tw-shadow: var(--shadow-highlight);
    --tw-shadow-colored: var(--shadow-highlight)
}

.shadow-highlight,.shadow-lg {
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
}

.shadow-lg {
    --tw-shadow: rgba(0,0,0,.2) 0px 5px 5px -3px,rgba(0,0,0,.14) 0px 8px 10px 1px,rgba(0,0,0,.12) 0px 3px 14px 2px;
    --tw-shadow-colored: 0px 5px 5px -3px var(--tw-shadow-color),0px 8px 10px 1px var(--tw-shadow-color),0px 3px 14px 2px var(--tw-shadow-color)
}

.shadow-none {
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000
}

.shadow-none,.shadow-sm {
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
}

.shadow-sm {
    --tw-shadow: 0px 3px 1px -2px rgba(0,0,0,.2),0px 2px 2px rgba(0,0,0,.14),0px 1px 5px rgba(0,0,0,.12);
    --tw-shadow-colored: 0px 3px 1px -2px var(--tw-shadow-color),0px 2px 2px var(--tw-shadow-color),0px 1px 5px var(--tw-shadow-color)
}

.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px
}

.outline {
    outline-style: solid
}

.blur {
    --tw-blur: blur(8px)
}

.blur,.blur-\[8rem\] {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.blur-\[8rem\] {
    --tw-blur: blur(8rem)
}

.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.transition {
    transition-duration: .15s;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1)
}

.transition-all {
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1)
}

.transition-colors {
    transition-duration: .15s;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1)
}

.transition-transform {
    transition-duration: .15s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1)
}

.flex-3 {
    flex: 3
}

.col,.col-gap-2 {
    display: flex;
    flex-direction: column
}

.col-gap-2 {
    gap: 8px
}

.col-gap-4 {
    display: flex;
    flex-direction: column;
    gap: 16px
}

.row,.row-gap-2 {
    display: flex;
    flex-direction: row
}

.row-gap-2 {
    gap: 8px
}

.row-gap-4 {
    display: flex;
    flex-direction: row;
    gap: 16px
}

.single-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.hide-scrollbars::-webkit-scrollbar {
    display: none
}

.fade.visible {
    opacity: 1;
    transition: opacity 80ms linear
}

.fade.invisible {
    opacity: 0;
    transition: visibility 0s 80ms,opacity 80ms linear
}

.\[\&\>th\]\:typo-subtitle2>th {
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: .008em;
    line-height: .85rem
}

.\[\&_dt\]\:typo-caption dt {
    font-size: .6875rem;
    font-weight: 400;
    letter-spacing: .035em;
    line-height: 1.14rem
}

.placeholder\:text-\[\#676968\]::-moz-placeholder {
    --tw-text-opacity: 1;
    color: rgb(103 105 104/var(--tw-text-opacity))
}

.placeholder\:text-\[\#676968\]::placeholder {
    --tw-text-opacity: 1;
    color: rgb(103 105 104/var(--tw-text-opacity))
}

.placeholder\:text-muted\/75::-moz-placeholder {
    color: rgb(var(--color-text-muted)/.75)
}

.placeholder\:text-muted\/75::placeholder {
    color: rgb(var(--color-text-muted)/.75)
}

.before\:pointer-events-none:before {
    content: var(--tw-content);
    pointer-events: none
}

.before\:visible:before {
    content: var(--tw-content);
    visibility: visible
}

.before\:absolute:before {
    content: var(--tw-content);
    position: absolute
}

.before\:inset-0:before {
    content: var(--tw-content);
    inset: 0
}

.before\:-m-px:before {
    content: var(--tw-content);
    margin: -1px
}

.before\:h-2:before {
    content: var(--tw-content);
    height: 8px
}

.before\:w-2:before {
    content: var(--tw-content);
    width: 8px
}

.before\:rotate-45:before {
    --tw-rotate: 45deg;
    content: var(--tw-content);
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.before\:rounded:before {
    border-radius: .25rem;
    content: var(--tw-content)
}

.before\:border-blue:before {
    border-color: rgb(var(--color-blue)/var(--tw-border-opacity))
}

.before\:border-blue:before,.before\:border-gray:before {
    --tw-border-opacity: 1;
    content: var(--tw-content)
}

.before\:border-gray:before {
    border-color: rgb(var(--color-gray)/var(--tw-border-opacity))
}

.before\:border-green:before {
    --tw-border-opacity: 1;
    border-color: rgb(var(--color-green)/var(--tw-border-opacity));
    content: var(--tw-content)
}

.before\:border-orange:before {
    border-color: rgb(var(--color-orange)/var(--tw-border-opacity))
}

.before\:border-orange:before,.before\:border-red:before {
    --tw-border-opacity: 1;
    content: var(--tw-content)
}

.before\:border-red:before {
    border-color: rgb(var(--color-red)/var(--tw-border-opacity))
}

.before\:bg-body:before {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-body)/var(--tw-bg-opacity));
    content: var(--tw-content)
}

.before\:content-\[\"\"\]:before{--tw-content:"";content:var(--tw-content)}.before\:visible.fade:before{content:var(--tw-content);opacity:1;transition:opacity 80ms linear}.first-of-type\:mt-0:first-of-type{margin-top:0}.first-of-type\:border-t-0:first-of-type{border-top-width:0}.first-of-type\:border-none:first-of-type{border-style:none}.last-of-type\:mb-0:last-of-type{margin-bottom:0}.focus-within\:before\:border-2:focus-within:before{border-width:2px;content:var(--tw-content)}.hover\:border-dark:hover{--tw-border-opacity:1;border-color:rgb(var(--color-dark)/var(--tw-border-opacity))}.hover\:border-inverted:hover{--tw-border-opacity:1;border-color:rgb(var(--color-inverted)/var(--tw-border-opacity))}.hover\:bg-blue\/5:hover{background-color:rgb(var(--color-blue)/.05)}.hover\:bg-blue\/80:hover{background-color:rgb(var(--color-blue)/.8)}.hover\:bg-gray\/25:hover{background-color:rgb(var(--color-gray)/.25)}.hover\:bg-gray\/80:hover{background-color:rgb(var(--color-gray)/.8)}.hover\:bg-green\/20:hover{background-color:rgb(var(--color-green)/.2)}.hover\:bg-green\/5:hover{background-color:rgb(var(--color-green)/.05)}.hover\:bg-green\/80:hover{background-color:rgb(var(--color-green)/.8)}.hover\:bg-inverted\/5:hover{background-color:rgb(var(--color-inverted)/.05)}.hover\:bg-muted:hover{--tw-bg-opacity:1;background-color:rgb(var(--color-muted)/var(--tw-bg-opacity))}.hover\:bg-orange\/5:hover{background-color:rgb(var(--color-orange)/.05)}.hover\:bg-orange\/80:hover{background-color:rgb(var(--color-orange)/.8)}.hover\:bg-red\/5:hover{background-color:rgb(var(--color-red)/.05)}.hover\:bg-red\/80:hover{background-color:rgb(var(--color-red)/.8)}.hover\:bg-transparent:hover{background-color:transparent}.hover\:no-underline:hover{text-decoration-line:none}.focus\:border-green:focus{--tw-border-opacity:1;border-color:rgb(var(--color-green)/var(--tw-border-opacity))}.disabled\:cursor-default:disabled{cursor:default}.disabled\:border-gray:disabled{--tw-border-opacity:1;border-color:rgb(var(--color-gray)/var(--tw-border-opacity))}.disabled\:bg-gray:disabled{--tw-bg-opacity:1;background-color:rgb(var(--color-gray)/var(--tw-bg-opacity))}.disabled\:\!text-DEFAULT\/30:disabled{color:rgb(var(--color-text)/.3)!important}.disabled\:text-action\/50:disabled{color:rgb(var(--color-action)/.5)}.disabled\:text-muted\/50:disabled{color:rgb(var(--color-text-muted)/.5)}.disabled\:opacity-30:disabled{opacity:.3}.disabled\:opacity-50:disabled{opacity:.5}.disabled\:shadow-none:disabled{--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.disabled\:hover\:bg-transparent:hover:disabled{background-color:transparent}.group:hover .group-hover\:bg-green\/10{background-color:rgb(var(--color-green)/.1)}.group:hover .group-hover\:text-green{--tw-text-opacity:1;color:rgb(var(--color-green)/var(--tw-text-opacity))}.aria-checked\:border-x-transparent[aria-checked=true]{border-left-color:transparent;border-right-color:transparent}.aria-checked\:bg-blue\/20[aria-checked=true]{background-color:rgb(var(--color-blue)/.2)}.aria-checked\:bg-gray\/20[aria-checked=true]{background-color:rgb(var(--color-gray)/.2)}.aria-checked\:bg-green\/20[aria-checked=true]{background-color:rgb(var(--color-green)/.2)}.aria-checked\:bg-orange\/20[aria-checked=true]{background-color:rgb(var(--color-orange)/.2)}.aria-checked\:bg-red\/20[aria-checked=true]{background-color:rgb(var(--color-red)/.2)}.aria-expanded\:before\:border-2[aria-expanded=true]:before{border-width:2px;content:var(--tw-content)}:is(.dark .dark\:bg-gray\/20){background-color:rgb(var(--color-gray)/.2)}:is(.dark .dark\:bg-inverted\/10){background-color:rgb(var(--color-inverted)/.1)}:is(.dark .dark\:bg-muted){--tw-bg-opacity:1;background-color:rgb(var(--color-muted)/var(--tw-bg-opacity))}:is(.dark .dark\:bg-muted\/90){background-color:rgb(var(--color-muted)/.9)}:is(.dark .dark\:\!text-dark\/80){color:rgb(var(--color-text-dark)/.8)!important}:is(.dark .dark\:text){--tw-text-opacity:1;color:rgb(var(--color-text)/var(--tw-text-opacity))}:is(.dark .dark\:text-inverted){--tw-text-opacity:1;color:rgb(var(--color-text-inverted)/var(--tw-text-opacity))}:is(.dark .dark\:before\:bg-muted):before{--tw-bg-opacity:1;background-color:rgb(var(--color-muted)/var(--tw-bg-opacity));content:var(--tw-content)}:is(.dark .dark\:hover\:border-\[\#FFF\]:hover){--tw-border-opacity:1;border-color:rgb(255 255 255/var(--tw-border-opacity))}:is(.dark .dark\:hover\:bg-gray\/10:hover){background-color:rgb(var(--color-gray)/.1)}:is(.dark .dark\:disabled\:border-gray\/20:disabled){border-color:rgb(var(--color-gray)/.2)}:is(.dark .dark\:disabled\:bg-gray\/10:disabled){background-color:rgb(var(--color-gray)/.1)}@media (min-width:460px){.xs\:mx-6{margin-left:32px;margin-right:32px}.xs\:mt-2{margin-top:8px}.xs\:min-w-6{min-width:24rem}.xs\:max-w-7{max-width:30rem}.xs\:grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr))}.xs\:row{display:flex;flex-direction:row}}@media (min-width:640px){.sm\:block{display:block}.sm\:hidden{display:none}.sm\:min-w-7{min-width:30rem}.sm\:max-w-7{max-width:30rem}.sm\:px-4{padding-left:16px;padding-right:16px}.sm\:pb-\[100px\]{padding-bottom:100px}.sm\:row{display:flex;flex-direction:row}}@media (min-width:920px){.md\:mt-0{margin-top:0}.md\:block{display:block}.md\:table-cell{display:table-cell}.md\:hidden{display:none}.md\:max-w-10{max-width:54rem}.md\:grid-cols-12{grid-template-columns:repeat(12,minmax(0,1fr))}.md\:grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr))}.md\:grid-cols-3{grid-template-columns:repeat(3,minmax(0,1fr))}.md\:grid-cols-4{grid-template-columns:repeat(4,minmax(0,1fr))}.md\:grid-cols-\[repeat\(4\2c auto\)\]{grid-template-columns:repeat(4,auto)}.md\:items-center{align-items:center}.md\:self-center{align-self:center}.md\:pb-\[100px\]{padding-bottom:100px}.md\:opacity-100{opacity:1}.md\:col{flex-direction:column}.md\:col,.md\:row{display:flex}.md\:row{flex-direction:row}}@media (min-width:1280px){.lg\:grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr))}.lg\:grid-cols-4{grid-template-columns:repeat(4,minmax(0,1fr))}.lg\:text-\[64px\]{font-size:64px}.lg\:text-\[74px\]{font-size:74px}}.\[\&\>\.arrow\]\:data-\[popper-placement\^\=\"bottom\"\]\:-top-1[data-popper-placement^=bottom]>.arrow{top:-4px}.\[\&\>\.arrow\]\:data-\[popper-placement\^\=\"left\"\]\:-right-1[data-popper-placement^=left]>.arrow{right:-4px}.\[\&\>\.arrow\]\:data-\[popper-placement\^\=\"right\"\]\:-left-1[data-popper-placement^=right]>.arrow{left:-4px}.\[\&\>\.arrow\]\:data-\[popper-placement\^\=\"top\"\]\:-bottom-1[data-popper-placement^=top]>.arrow{bottom:-4px}.\[\&\>button\]\:\!text-\[\#5eb189\]>button{--tw-text-opacity:1!important;color:rgb(94 177 137/var(--tw-text-opacity))!important}.\[\&\>h1\]\:mb-0>h1{margin-bottom:0}.\[\&\>h1\]\:font-normal>h1{font-weight:400}.\[\&_button\]\:border-dark button{--tw-border-opacity:1;border-color:rgb(var(--color-dark)/var(--tw-border-opacity))}.\[\&_button\]\:text-dark button{--tw-text-opacity:1;color:rgb(var(--color-text-dark)/var(--tw-text-opacity))}.\[\&_dt\]\:text-muted dt{--tw-text-opacity:1;color:rgb(var(--color-text-muted)/var(--tw-text-opacity))}.authentication-container{background:#1d1d1d;box-shadow:0 40px 40px #000}.github-authentication-btn{--tw-text-opacity:1;background:conic-gradient(#1d1d1d,#1d1d1d,#1d1d1d,#1d1d1d,#1d1d1d,#1d1d1d,#1d1d1d) border-box content-box,conic-gradient(#1d1d1d,#87fcc4,#1d1d1d,#1d1d1d,#87fcc4,#1d1d1d,#1d1d1d) border-box #1d1d1d;border-color:transparent;border-radius:999px;border-width:1px;box-shadow:inset 1px 1000px 1px #1d1d1d,0 31.9819px 25.5855px rgba(2,2,2,.1),0 17.099px 13.6792px rgba(6,6,6,.08),0 9.58558px 7.66847px rgba(6,6,6,.07),0 5.09083px 4.07267px rgba(0,0,0,.055),0 2.11841px 1.69473px rgba(0,0,0,.04);color:rgb(var(--color-text)/var(--tw-text-opacity));font-size:.6875rem;font-weight:700;letter-spacing:.035em;line-height:1.14rem;line-height:1;padding-bottom:16px;padding-top:16px;text-transform:uppercase;transition:border .22s ease-out;width:100%}.github-authentication-btn:hover{--tw-border-opacity:1;border-color:rgb(var(--color-green)/var(--tw-border-opacity))}.authenticate-btn{--tw-bg-opacity:1;--tw-text-opacity:1;background-color:rgb(var(--color-green)/var(--tw-bg-opacity));border-radius:999px;box-shadow:0 81.5873px 65.2699px rgba(135,252,196,.14),0 34.0852px 27.2682px rgba(135,252,196,.1),0 18.2236px 14.5789px rgb(135 252 196/8%),0 10.216px 8.1728px rgb(135 252 196/7%),0 5.42564px 4.34051px rgb(135 252 196/6%),0 2.25773px 1.80619px rgb(135 252 196/4%);color:rgb(var(--color-text-inverted)/var(--tw-text-opacity));font-weight:500;padding-bottom:16px;padding-top:16px;text-transform:uppercase;transition:.22s ease-out;width:100%}.authenticate-btn:hover{--tw-bg-opacity:1;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;background-color:rgb(94 177 137/var(--tw-bg-opacity));box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.grecaptcha-badge{visibility:hidden}
